runtime: php
env: flex

runtime_config:
  document_root: public

env_variables:
  ## Put production environment variables here.
  APP_NAME: "Salud Iquique"
  APP_ENV: production
  APP_KEY: 
  APP_DEBUG: true
  APP_URL: https://saludiquique.app
  APP_SS: "Servicio de Salud Iquique"

  APP_STORAGE: /tmp
  VIEW_COMPILED_PATH: /tmp
  APP_LOG: errorlog

  CACHE_DRIVER: database
  SESSION_DRIVER: database
  ## Set these environment variables according to your CloudSQL configuration.
  DB_HOST: 
  DB_DATABASE: 
  DB_USERNAME: 
  DB_PASSWORD: 
  DB_SOCKET: ""

  # FONASA
  FONASA_ENTIDAD: 
  FONASA_CLAVE: 

  # Clave unica Producción
  CLAVEUNICA_CLIENT_ID: 
  CLAVEUNICA_SECRET_ID: 
  CLAVEUNICA_CALLBACK: "https://www.saludiquique.app/claveunica/callback"

  # Clave unica Testing
  #CLAVEUNICA_CLIENT_ID: 
  #CLAVEUNICA_SECRET_ID: 
  #CLAVEUNICA_CALLBACK: "https://www.saludiquique.app/claveunica/callback-testing"
  
  # URL BASE DE FHIR
  FHIR_URL_BASE: ""

  # NOMBRE DEL ARCHIVO JSON QUE TIENE EL SERVICE ACCOUNT DENTRO DE /App/Keys
  #SERVICE_ACCOUNT:
  GOOGLE_CLOUD_SERVICE_ACCOUNT: 

beta_settings:
  cloud_sql_instances: ""
